<a href="https://colab.research.google.com/github/DmitryMart99/COVID-19/blob/master/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22HW6_DE%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (3.0.1)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.9)
openjdk-8-jdk-headless is already the newest version (8u275-b01-0ubuntu1~18.04).
0 upgraded, 0 newly installed, 0 to remove and 14 not upgraded.

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
id='1f_9EbnywCj35EBUA32sueigxBjBJwALr'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('War and Peace by Leo Tolstoy (ru).txt')

In [ ]:
import pandas as pd

import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext, SparkConf

In [ ]:
conf = SparkConf().set("spark.ui.port", "4050")

sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()

In [ ]:
spark

In [ ]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

--2020-12-13 20:44:44--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 35.153.20.238, 35.170.115.131, 52.55.159.231, ...
Connecting to bin.equinox.io (bin.equinox.io)|35.153.20.238|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13773305 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip.3’

ngrok-stable-linux- 100%[===================>]  13.13M  13.9MB/s    in 0.9s

2020-12-13 20:44:45 (13.9 MB/s) - ‘ngrok-stable-linux-amd64.zip.3’ saved [13773305/13773305]

Archive:  ngrok-stable-linux-amd64.zip
replace ngrok? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
Traceback (most recent call last):
  File "<string>", line 1, in <module>
IndexError: list index out of range

Подсчитай кол-во слов в документе "War and Peace by Leo Tolstoy (ru).txt"

In [ ]:
textFile = spark.read.text("War and Peace by Leo Tolstoy (ru).txt")

In [ ]:
textFile.count()

31931

In [ ]:
textFile.select(size(split(textFile.value, "\s+")).name("numWords")).agg(sum(col("numWords"))).collect()

[Row(sum(numWords)=493952)]

In [ ]:
id='13yfAoONwq4rS5XrTv3IrcqcFcdgfvK9V'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('mnist-digits-train.txt')

id='1VE_9x0LQvOJpHXbXp_RMPl3Q4wRUuOok'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('mnist-digits-test.txt')

Необходимо обучить модель используя Spark MLlib (модель на ваш выбор, например Decision Tree) и получить accuracy.
Подробнее тут: https://spark.apache.org/docs/latest/ml-classification-regression.html

In [ ]:
train = spark.read.format("libsvm").load("mnist-digits-train.txt")
test= spark.read.format("libsvm").load("mnist-digits-test.txt")

llist = train.collect()
print(llist[0])
print(len(llist))

tlist = test.collect()
print(tlist[0])
print(len(tlist))

#data = training.union(testing)

Row(label=5.0, features=SparseVector(780, {152: 3.0, 153: 18.0, 154: 18.0, 155: 18.0, 156: 126.0, 157: 136.0, 158: 175.0, 159: 26.0, 160: 166.0, 161: 255.0, 162: 247.0, 163: 127.0, 176: 30.0, 177: 36.0, 178: 94.0, 179: 154.0, 180: 170.0, 181: 253.0, 182: 253.0, 183: 253.0, 184: 253.0, 185: 253.0, 186: 225.0, 187: 172.0, 188: 253.0, 189: 242.0, 190: 195.0, 191: 64.0, 203: 49.0, 204: 238.0, 205: 253.0, 206: 253.0, 207: 253.0, 208: 253.0, 209: 253.0, 210: 253.0, 211: 253.0, 212: 253.0, 213: 251.0, 214: 93.0, 215: 82.0, 216: 82.0, 217: 56.0, 218: 39.0, 231: 18.0, 232: 219.0, 233: 253.0, 234: 253.0, 235: 253.0, 236: 253.0, 237: 253.0, 238: 198.0, 239: 182.0, 240: 247.0, 241: 241.0, 260: 80.0, 261: 156.0, 262: 107.0, 263: 253.0, 264: 253.0, 265: 205.0, 266: 11.0, 268: 43.0, 269: 154.0, 289: 14.0, 290: 1.0, 291: 154.0, 292: 253.0, 293: 90.0, 319: 139.0, 320: 253.0, 321: 190.0, 322: 2.0, 347: 11.0, 348: 190.0, 349: 253.0, 350: 70.0, 376: 35.0, 377: 241.0, 378: 225.0, 379: 160.0, 380: 108.0, 381: 1.0, 405: 81.0, 406: 240.0, 407: 253.0, 408: 253.0, 409: 119.0, 410: 25.0, 434: 45.0, 435: 186.0, 436: 253.0, 437: 253.0, 438: 150.0, 439: 27.0, 463: 16.0, 464: 93.0, 465: 252.0, 466: 253.0, 467: 187.0, 493: 249.0, 494: 253.0, 495: 249.0, 496: 64.0, 518: 46.0, 519: 130.0, 520: 183.0, 521: 253.0, 522: 253.0, 523: 207.0, 524: 2.0, 544: 39.0, 545: 148.0, 546: 229.0, 547: 253.0, 548: 253.0, 549: 253.0, 550: 250.0, 551: 182.0, 570: 24.0, 571: 114.0, 572: 221.0, 573: 253.0, 574: 253.0, 575: 253.0, 576: 253.0, 577: 201.0, 578: 78.0, 596: 23.0, 597: 66.0, 598: 213.0, 599: 253.0, 600: 253.0, 601: 253.0, 602: 253.0, 603: 198.0, 604: 81.0, 605: 2.0, 622: 18.0, 623: 171.0, 624: 219.0, 625: 253.0, 626: 253.0, 627: 253.0, 628: 253.0, 629: 195.0, 630: 80.0, 631: 9.0, 648: 55.0, 649: 172.0, 650: 226.0, 651: 253.0, 652: 253.0, 653: 253.0, 654: 253.0, 655: 244.0, 656: 133.0, 657: 11.0, 676: 136.0, 677: 253.0, 678: 253.0, 679: 253.0, 680: 212.0, 681: 135.0, 682: 132.0, 683: 16.0}))
60000
Row(label=7.0, features=SparseVector(778, {202: 84.0, 203: 185.0, 204: 159.0, 205: 151.0, 206: 60.0, 207: 36.0, 230: 222.0, 231: 254.0, 232: 254.0, 233: 254.0, 234: 254.0, 235: 241.0, 236: 198.0, 237: 198.0, 238: 198.0, 239: 198.0, 240: 198.0, 241: 198.0, 242: 198.0, 243: 198.0, 244: 170.0, 245: 52.0, 258: 67.0, 259: 114.0, 260: 72.0, 261: 114.0, 262: 163.0, 263: 227.0, 264: 254.0, 265: 225.0, 266: 254.0, 267: 254.0, 268: 254.0, 269: 250.0, 270: 229.0, 271: 254.0, 272: 254.0, 273: 140.0, 291: 17.0, 292: 66.0, 293: 14.0, 294: 67.0, 295: 67.0, 296: 67.0, 297: 59.0, 298: 21.0, 299: 236.0, 300: 254.0, 301: 106.0, 326: 83.0, 327: 253.0, 328: 209.0, 329: 18.0, 353: 22.0, 354: 233.0, 355: 255.0, 356: 83.0, 381: 129.0, 382: 254.0, 383: 238.0, 384: 44.0, 408: 59.0, 409: 249.0, 410: 254.0, 411: 62.0, 436: 133.0, 437: 254.0, 438: 187.0, 439: 5.0, 463: 9.0, 464: 205.0, 465: 248.0, 466: 58.0, 491: 126.0, 492: 254.0, 493: 182.0, 518: 75.0, 519: 251.0, 520: 240.0, 521: 57.0, 545: 19.0, 546: 221.0, 547: 254.0, 548: 166.0, 572: 3.0, 573: 203.0, 574: 254.0, 575: 219.0, 576: 35.0, 600: 38.0, 601: 254.0, 602: 254.0, 603: 77.0, 627: 31.0, 628: 224.0, 629: 254.0, 630: 115.0, 631: 1.0, 655: 133.0, 656: 254.0, 657: 254.0, 658: 52.0, 682: 61.0, 683: 242.0, 684: 254.0, 685: 254.0, 686: 52.0, 710: 121.0, 711: 254.0, 712: 254.0, 713: 219.0, 714: 40.0, 738: 121.0, 739: 254.0, 740: 207.0, 741: 18.0}))
10000

In [ ]:
train.show(5)

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  5.0|(780,[152,153,154...|
|  0.0|(780,[127,128,129...|
|  4.0|(780,[160,161,162...|
|  1.0|(780,[158,159,160...|
|  9.0|(780,[208,209,210...|
+-----+--------------------+
only showing top 5 rows

In [ ]:
test.show(5)

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  7.0|(778,[202,203,204...|
|  2.0|(778,[94,95,96,97...|
|  1.0|(778,[128,129,130...|
|  0.0|(778,[124,125,126...|
|  4.0|(778,[150,151,159...|
+-----+--------------------+
only showing top 5 rows

In [ ]:
from pyspark.ml.classification import LogisticRegression, OneVsRest
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# load data file.
#inputData = spark.read.format("libsvm") \.load("data/mllib/sample_multiclass_classification_data.txt")

# generate the train/test split.
(train, test) = training.randomSplit([0.8, 0.2])
testing.show()

# instantiate the base classifier.
lr = LogisticRegression(maxIter=10, tol=1E-6, fitIntercept=True)

# instantiate the One Vs Rest Classifier.
ovr = OneVsRest(classifier=lr)

# train the multiclass model.
ovrModel = ovr.fit(train)

# score the model on test data.
predictions = ovrModel.transform(test)

# obtain evaluator.
evaluator = MulticlassClassificationEvaluator(metricName="accuracy")

# compute the classification error on test data.
accuracy = evaluator.evaluate(predictions)
print("Test Error = %g" % (1.0 - accuracy))

NameError: ignored

In [ ]:
evaluator.evaluate(test)

IllegalArgumentException: ignored

In [ ]:
predict.accuracy

0.11236666666666667

In [ ]:
id='1kUIrskM0zNH8u71G9M1BkHjRQYxvgAvh'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('data.zip')
!unzip data.zip

Archive:  data.zip
   creating: data/
  inflating: data/regions.csv
  inflating: data/departments.csv
  inflating: data/jobs.csv
  inflating: data/locations.csv
  inflating: data/country.csv
  inflating: data/employees.csv
  inflating: data/job_history.csv

In [ ]:
regions = spark.read.csv('data/regions.csv',sep = '\t',header = True)
regions.show(5)

NameError: ignored

In [ ]:
departments = spark.read.csv('data/departments.csv',sep = '\t',header = True)
departments.show(5)

NameError: ignored

In [ ]:
jobs = spark.read.csv('data/jobs.csv',sep = '\t',header = True)
jobs.show(5)

+----------+--------------------+----------+----------+
|    JOB_ID|           JOB_TITLE|MIN_SALARY|MAX_SALARY|
+----------+--------------------+----------+----------+
|   AD_PRES|           President|     20080|     40000|
|     AD_VP|Administration Vi...|     15000|     30000|
|   AD_ASST|Administration As...|      3000|      6000|
|    FI_MGR|     Finance Manager|      8200|     16000|
|FI_ACCOUNT|          Accountant|      4200|      9000|
+----------+--------------------+----------+----------+
only showing top 5 rows

In [ ]:
locations = spark.read.csv('data/locations.csv',sep = '\t',header = True)
locations.show(5)

+-----------+--------------------+-----------+---------+----------------+----------+
|LOCATION_ID|      STREET_ADDRESS|POSTAL_CODE|     CITY|  STATE_PROVINCE|COUNTRY_ID|
+-----------+--------------------+-----------+---------+----------------+----------+
|       1000|1297 Via Cola di Rie|      00989|     Roma|            null|        IT|
|       1100|93091 Calle della...|      10934|   Venice|            null|        IT|
|       1200|    2017 Shinjuku-ku|       1689|    Tokyo|Tokyo Prefecture|        JP|
|       1300|     9450 Kamiya-cho|       6823|Hiroshima|            null|        JP|
|       1400| 2014 Jabberwocky Rd|      26192|Southlake|           Texas|        US|
+-----------+--------------------+-----------+---------+----------------+----------+
only showing top 5 rows

In [ ]:
country = spark.read.csv('data/country.csv',sep = '\t',header = True)
country.show(5)

+----------+------------+---------+
|COUNTRY_ID|COUNTRY_NAME|REGION_ID|
+----------+------------+---------+
|        AR|   Argentina|        2|
|        AU|   Australia|        3|
|        BE|     Belgium|        1|
|        BR|      Brazil|        2|
|        CA|      Canada|        2|
+----------+------------+---------+
only showing top 5 rows

In [ ]:
employees = spark.read.csv('data/employees.csv',sep = '\t',header = True)
employees.show(5)

+-----------+----------+---------+--------+------------+---------+-------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE| JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+-------+------+--------------+----------+-------------+
|        100|    Steven|     King|   SKING|515.123.4567| 17.06.03|AD_PRES| 24000|          null|      null|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568| 21.09.05|  AD_VP| 17000|          null|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569| 13.01.01|  AD_VP| 17000|          null|       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567| 03.01.06|IT_PROG|  9000|          null|       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568| 21.05.07|IT_PROG|  6000|          null|       103|           60|
+-----------+----------+---------+--------+------------+---------+-------+------+--------------+----------+-------------+
only showing top 5 rows

In [ ]:
job_history = spark.read.csv('data/job_history.csv',sep = '\t',header = True)
job_history.show(5)

+-----------+----------+--------+----------+-------------+
|EMPLOYEE_ID|START_DATE|END_DATE|    JOB_ID|DEPARTMENT_ID|
+-----------+----------+--------+----------+-------------+
|        102|  13.01.01|24.07.06|   IT_PROG|           60|
|        101|  21.09.97|27.10.01|AC_ACCOUNT|          110|
|        101|  28.10.01|15.03.05|    AC_MGR|          110|
|        201|  17.02.04|19.12.07|    MK_REP|           20|
|        114|  24.03.06|31.12.07|  ST_CLERK|           50|
+-----------+----------+--------+----------+-------------+
only showing top 5 rows

Кто получает больше всего? Кто меньше всего?

In [ ]:
employees_new = employees.withColumn("SALARY", col("SALARY").cast("int"))
min_val = employees_new.agg(min(col("SALARY"))).collect()[0][0]
max_val = employees_new.agg(max(col("SALARY"))).collect()[0][0]
employees_new.filter(employees_new.SALARY==min_val).show()
employees_new.filter(employees_new.SALARY==max_val).show()

+-----------+----------+---------+-------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|  EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+-------+------------+---------+--------+------+--------------+----------+-------------+
|        132|        TJ|    Olson|TJOLSON|650.124.8234| 10.04.07|ST_CLERK|  2100|          null|       121|           50|
+-----------+----------+---------+-------+------------+---------+--------+------+--------------+----------+-------------+

+-----------+----------+---------+-----+------------+---------+-------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE| JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+-----+------------+---------+-------+------+--------------+----------+-------------+
|        100|    Steven|     King|SKING|515.123.4567| 17.06.03|AD_PRES| 24000|          null|      null|           90|
+-----------+----------+---------+-----+------------+---------+-------+------+--------------+----------+-------------+

Выведете топ 5 по зарплате.

In [ ]:
employees_new.sort("SALARY", ascending=False).show(5)

+-----------+----------+---------+--------+------------------+---------+-------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|      PHONE_NUMBER|HIRE_DATE| JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------------+---------+-------+------+--------------+----------+-------------+
|        100|    Steven|     King|   SKING|      515.123.4567| 17.06.03|AD_PRES| 24000|          null|      null|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|      515.123.4568| 21.09.05|  AD_VP| 17000|          null|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|      515.123.4569| 13.01.01|  AD_VP| 17000|          null|       100|           90|
|        145|      John|  Russell| JRUSSEL|011.44.1344.429268| 01.10.04| SA_MAN| 14000|           0,4|       100|           80|
|        146|     Karen| Partners|KPARTNER|011.44.1344.467268| 05.01.05| SA_MAN| 13500|           0,3|       100|           80|
+-----------+----------+---------+--------+------------------+---------+-------+------+--------------+----------+-------------+
only showing top 5 rows

Сколько всего регионов? Сколько работников в каждом регионе?

In [ ]:
regions.createOrReplaceTempView("regions_sql") 
departments.createOrReplaceTempView("departments_sql") 
jobs.createOrReplaceTempView("jobs_sql") 
locations.createOrReplaceTempView("locations_sql") 
country.createOrReplaceTempView("country_sql") 
employees.createOrReplaceTempView("employees_sql") 
job_history.createOrReplaceTempView("job_history_sql")

In [ ]:
regions.select("REGION_NAME").distinct().count()

4

In [ ]:
query = spark.sql(
    '''
        SELECT REGION_NAME, COUNT(REGION_NAME)
        
        FROM employees_sql 

          JOIN departments_sql
            ON employees_sql.DEPARTMENT_ID = departments_sql.DEPARTMENT_ID

          JOIN locations_sql
            ON departments_sql.LOCATION_ID = locations_sql.LOCATION_ID

          JOIN country_sql
            ON locations_sql.COUNTRY_ID = country_sql.COUNTRY_ID

          JOIN regions_sql
            ON country_sql.REGION_ID = regions_sql.REGION_ID
       
        GROUP BY REGION_NAME
    '''
)
query.show()
#gdf = query.groupBy("REGION_NAME")
#sorted(gdf.agg({"*": "count"}).collect())
#ORDER BY regions_sql.REGION_NAME
#SELECT FIRST_NAME, LAST_NAME, REGION_NAME

+-----------+------------------+
|REGION_NAME|count(REGION_NAME)|
+-----------+------------------+
|     Europe|                36|
|   Americas|                70|
+-----------+------------------+

Выведете всех работников из Китая.

In [ ]:
query = spark.sql(
    '''
        SELECT FIRST_NAME, LAST_NAME 
        FROM employees_sql 

          JOIN departments_sql
            ON employees_sql.DEPARTMENT_ID = departments_sql.DEPARTMENT_ID

          JOIN locations_sql
            ON departments_sql.LOCATION_ID = locations_sql.LOCATION_ID

          JOIN country_sql
            ON locations_sql.COUNTRY_ID = country_sql.COUNTRY_ID

        WHERE country_sql.COUNTRY_NAME = 'China'
    '''
)
query.show()

+----------+---------+
|FIRST_NAME|LAST_NAME|
+----------+---------+
+----------+---------+

Укажите самую высокооплачиваемою должность.

In [ ]:
jobs_new = jobs.withColumn("MIN_SALARY", col("MIN_SALARY").cast("int")).withColumn("MAX_SALARY", col("MAX_SALARY").cast("int"))
max_val = jobs_new.agg(max(col("MAX_SALARY"))).collect()[0][0]
jobs_new.filter(jobs_new.MAX_SALARY==max_val).show()

+-------+---------+----------+----------+
| JOB_ID|JOB_TITLE|MIN_SALARY|MAX_SALARY|
+-------+---------+----------+----------+
|AD_PRES|President|     20080|     40000|
+-------+---------+----------+----------+

Выведете всех работников связанных с ИТ. Выведете их менеджеров.

In [ ]:
#Вывожу работников, в названии JOB_ID которых есть IT
emp = employees.select(
              "EMPLOYEE_ID", col("FIRST_NAME").alias("FIRST_EMP_NAME"), col("LAST_NAME").alias("LAST_EMP_NAME"), col("MANAGER_ID").alias("ID")
              ).filter(employees.JOB_ID.contains('IT'))

emp2 = employees.select(col("EMPLOYEE_ID").alias("ID"),col("FIRST_NAME"),col("LAST_NAME"))

emp.join(emp2, emp.ID == emp2.ID).select(
                                  "FIRST_EMP_NAME","LAST_EMP_NAME",col("FIRST_NAME").alias("FIRST_MAN_NAME"),col("LAST_NAME").alias("LAST_MAN_NAME")
                                    ).show()

+--------------+-------------+--------------+-------------+
|FIRST_EMP_NAME|LAST_EMP_NAME|FIRST_MAN_NAME|LAST_MAN_NAME|
+--------------+-------------+--------------+-------------+
|     Alexander|       Hunold|           Lex|      De Haan|
|         Bruce|        Ernst|     Alexander|       Hunold|
|         David|       Austin|     Alexander|       Hunold|
|         Valli|    Pataballa|     Alexander|       Hunold|
|         Diana|      Lorentz|     Alexander|       Hunold|
+--------------+-------------+--------------+-------------+

Выведете имя и фамилию работника, его текущую и предыдущую должности и сколько полных недель и дней прошло с момент изменения.

In [ ]:
#Интерпретирую вопрос как "сколько полных дней и недель прошло с момента устройства на новую работу до текущего момента"
a = employees.alias('a')
b = job_history.alias('b')
b = b.withColumnRenamed("JOB_ID", "JOB_HIST_ID")
#меняем формат дат
joined = a.join(b, a.EMPLOYEE_ID == b.EMPLOYEE_ID).select("FIRST_NAME", "LAST_NAME", "JOB_ID", "JOB_HIST_ID", "HIRE_DATE", "START_DATE", "END_DATE")
joined = joined.withColumn("HIRE_DATE", to_date(col("HIRE_DATE"),"dd.MM.yy"))
joined = joined.withColumn("START_DATE", to_date(col("START_DATE"),"dd.MM.yy"))
joined = joined.withColumn("END_DATE", to_date(col("END_DATE"),"dd.MM.yy"))
#получилось плохо, 1997 год стал вдруг 2097. Если год выше 2050, то отнимем 100 от года
joined = joined.withColumn("START_DATE", when(year(col("START_DATE")).cast('int')>2050, add_months("START_DATE", -100*12)).otherwise(col("START_DATE")))
joined.show()
#найдём строки, где действительно показаны предыдущие работы. Дата увольнения с предыдущей работы должна быть не позднее даты устройства на текущую
joined = joined.filter(joined.END_DATE <= joined.HIRE_DATE)
joined.show()
#находим последнюю предыдущую (может быть несколько предыдущих работ)
joined = joined.groupBy("FIRST_NAME","LAST_NAME","HIRE_DATE").agg(max(col("END_DATE")))
joined.show()
#считаем количество полных дней и недель с момента устройства на новую работу до текущего момента
joined = joined.withColumn("days", 
              datediff(to_date(lit(current_date())),
                       to_date("HIRE_DATE","dd.MM.yy")))

joined = joined.withColumn("weeks", (col("days").cast("int")/7).cast("int"))
joined.show()

+----------+---------+-------+-----------+----------+----------+----------+
|FIRST_NAME|LAST_NAME| JOB_ID|JOB_HIST_ID| HIRE_DATE|START_DATE|  END_DATE|
+----------+---------+-------+-----------+----------+----------+----------+
|     Neena|  Kochhar|  AD_VP|     AC_MGR|2005-09-21|2001-10-28|2005-03-15|
|     Neena|  Kochhar|  AD_VP| AC_ACCOUNT|2005-09-21|1997-09-21|2001-10-27|
|       Lex|  De Haan|  AD_VP|    IT_PROG|2001-01-13|2001-01-13|2006-07-24|
|       Den| Raphaely| PU_MAN|   ST_CLERK|2002-12-07|2006-03-24|2007-12-31|
|     Payam| Kaufling| ST_MAN|   ST_CLERK|2003-05-01|2007-01-01|2007-12-31|
|  Jonathon|   Taylor| SA_REP|     SA_MAN|2006-03-24|2007-01-01|2007-12-31|
|  Jonathon|   Taylor| SA_REP|     SA_REP|2006-03-24|2006-03-24|2006-12-31|
|  Jennifer|   Whalen|AD_ASST| AC_ACCOUNT|2003-09-17|2002-07-01|2006-12-31|
|  Jennifer|   Whalen|AD_ASST|    AD_ASST|2003-09-17|1995-09-17|2001-06-17|
|   Michael|Hartstein| MK_MAN|     MK_REP|2004-02-17|2004-02-17|2007-12-19|
+----------+---------+-------+-----------+----------+----------+----------+

+----------+---------+-------+-----------+----------+----------+----------+
|FIRST_NAME|LAST_NAME| JOB_ID|JOB_HIST_ID| HIRE_DATE|START_DATE|  END_DATE|
+----------+---------+-------+-----------+----------+----------+----------+
|     Neena|  Kochhar|  AD_VP|     AC_MGR|2005-09-21|2001-10-28|2005-03-15|
|     Neena|  Kochhar|  AD_VP| AC_ACCOUNT|2005-09-21|1997-09-21|2001-10-27|
|  Jennifer|   Whalen|AD_ASST|    AD_ASST|2003-09-17|1995-09-17|2001-06-17|
+----------+---------+-------+-----------+----------+----------+----------+

+----------+---------+----------+-------------+
|FIRST_NAME|LAST_NAME| HIRE_DATE|max(END_DATE)|
+----------+---------+----------+-------------+
|     Neena|  Kochhar|2005-09-21|   2005-03-15|
|  Jennifer|   Whalen|2003-09-17|   2001-06-17|
+----------+---------+----------+-------------+

+----------+---------+----------+-------------+----+-----+
|FIRST_NAME|LAST_NAME| HIRE_DATE|max(END_DATE)|days|weeks|
+----------+---------+----------+-------------+----+-----+
|     Neena|  Kochhar|2005-09-21|   2005-03-15|5562|  794|
|  Jennifer|   Whalen|2003-09-17|   2001-06-17|6297|  899|
+----------+---------+----------+-------------+----+-----+

Выведете уникальные телефонные номера

In [ ]:
employees_new.select("PHONE_NUMBER").distinct().show()

+------------------+
|      PHONE_NUMBER|
+------------------+
|011.44.1344.429018|
|      515.127.4566|
|      515.127.4564|
|011.44.1344.429278|
|      515.123.4569|
|      650.124.1434|
|      650.123.2234|
|011.44.1344.498718|
|      650.127.1634|
|      515.127.4561|
|011.44.1345.629268|
|      515.127.4562|
|011.44.1644.429264|
|011.44.1644.429262|
|      650.501.1876|
|      650.127.1834|
|011.44.1343.529268|
|011.44.1644.429265|
|      515.123.8181|
|      650.507.9833|
+------------------+
only showing top 20 rows

Есть ли сотрудники с одинаковыми фамилиями и сколько их.

In [ ]:
gdf = employees_new.groupBy("LAST_NAME")
count_list = sorted(gdf.agg({"*": "count"}).collect())
count_df = spark.createDataFrame(count_list)
count_df.filter(count_df["count(1)"]>1).count()

4